 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Rico graduated from the University of British Columbia (UBC) in Vancouver, Canada, with a B.Asc Degree in Electrical Engineering in 2019. During his undergraduate years, he developed a strong interest in robotics and control systems, alongside with skills in C, C++, Python, MATLAB, SIMULINK, circuit design, and many others! </p>
                </div>
                <div class="col-lg-4">
                    <p> For his graduate studies at Northwestern University, he aspires to become a well-rounded full-stack robotics engineer. He is extending his knowledge in machine learning, dynamics and kinematics, SLAM, and computer vision. He is also honing his skills in Python, ROS, and real world robotics design. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.mccormick.northwestern.edu/robotics/meet-students/profiles-2019-2020/jia-ruotong.html" class="btn btn-lg btn-outline">
                        <i class="fa fa-external-link"></i> Northwestern University Personal Profile
                    </a>
                </div>
           </div>
        </div>
    </section>
