 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Rico graduated from the University of British Columbia (UBC) in Vancouver, Canada, with a B.Asc Degree in Electrical Engineering in 2019. During his undergraduate years, he developed a strong passion for control systems and robotics. Ruotong served as the captain of UBC Sustaingineering, where his team designed and implemented a Micro Solar Photovoltaic system for remote communities in Mexico. He also worked as an engineering co-op student at EWOS Canada, Cargill Inc. and helped lead the plant's energy conservation and equipment maintenance projects. He also interned at the National Robotics Laboratory at Tecnológico de Monterrey in Monterrey, Mexico, where he built a Micro UAV from scratch - including circuit making, control algorithms, and sensor tuning and testing. As his senior year project, his team built a rover for parallel wood inspection where he developed algorithms for motion control and sensor filtering.</p>
                </div>
                <div class="col-lg-4">
                    <p> Born and raised in China, Ruotong has witnessed the true power of industrialization that transformed a formerly agricultural country into the world's factory. This first hand observation combined with his extensive project experience culminates in a desire to build robots that will drive innovation and improve people’s everyday lives. To that end, he is exploring machine learning while extending his studies in control systems and robotics. In the future, he aspires to work on various robotic applications of intelligent control systems, particularly collaborative robots for industrial and domestic uses.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/RicoJia/RicoJia.github.io/blob/master/img/resume/Ruotong_Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
